body{
    font-size: 20px;
    font-style: italic ;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-color: whitesmoke;
    
}
form{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.num{
    width: 100px;
    height: 25px;
}
#generar{
    font-size: 20px;
    font-style: italic ;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    width: 105px;
    height: 30px;
    background-color:  black;
    color: white;
    margin-top: 10px;

}
#pantalla{
    width: 100px;
    height: 25;
    text-align: center;
    
}